
 <form method = "post" action = "/subirfoto" enctype = "multipart/form-data">
 Seleccione las fotos
 <input type="file" name="foto" multiple>
 <br />
 <br />
 <input type="submit" value="subir">
 </form>